@import "tailwindcss";

:root {
  color: #f1f3f8;
  font-family: "Manrope", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  position: relative;
  background: #000;
}

/* Animated background */
body::before {
  content: "";
  position: fixed;
  inset: -50%;
  z-index: -1;

  background: conic-gradient(
    from 0deg,
    #000000,
    #0b0014,
    #240052,
    #1a063a,
    #1e0645,
    #000000
  );

  filter: blur(100px);
  animation: rotate-bg 15s linear infinite;
}

/* Dark overlay */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.main {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

@keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html::-webkit-scrollbar {
  width: 1%;
}
 
html::-webkit-scrollbar-track {
}
 
html::-webkit-scrollbar-thumb {
}